<a href="https://colab.research.google.com/github/YangGwangSeok/-/blob/main/%EC%BD%94%EC%9D%B8_%EB%AF%B8%EB%9E%98%EC%98%88%EC%B8%A1%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#모듈설치

In [19]:
pip install binance-connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: binance-connector in /usr/local/lib/python3.7/dist-packages (1.18.0)
Requirement already satisfied: service-identity>=21.1.0 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (21.1.0)
Requirement already satisfied: Twisted>=21.2.0 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (22.10.0)
Requirement already satisfied: autobahn>=21.2.1 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (22.7.1)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (2.28.1)
Requirement already satisfied: pyOpenSSL>=19.0.0 in /usr/local/lib/python3.7/dist-packages (from binance-connector) (22.1.0)
Requirement already satisfied: txaio>=21.2.1 in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (22.2.1)
Requirement already satisfied: hyperlink>=21.0.0 in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (21.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (57.4.0)
Requirement already satisfied: cryptography>=3.4.6 in /usr/local/lib/python3.7/dist-packages (from autobahn>=21.2.1->binance-connector) (38.0.3)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=3.4.6->autobahn>=21.2.1->binance-connector) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=3.4.6->autobahn>=21.2.1->binance-connector) (2.21)
Requirement already satisfied: idna>=2.5 in /usr/local/lib/python3.7/dist-packages (from hyperlink>=21.0.0->autobahn>=21.2.1->binance-connector) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->binance-connector) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->binance-connector) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25.1->binance-connector) (2022.9.24)
Requirement already satisfied: pyasn1 in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (0.4.8)
Requirement already satisfied: pyasn1-modules in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (0.2.8)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (1.15.0)
Requirement already satisfied: attrs>=19.1.0 in /usr/local/lib/python3.7/dist-packages (from service-identity>=21.1.0->binance-connector) (22.1.0)
Requirement already satisfied: zope.interface>=4.4.2 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (5.5.1)
Requirement already satisfied: Automat>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (22.10.0)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (4.1.1)
Requirement already satisfied: incremental>=21.3.0 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (22.10.0)
Requirement already satisfied: constantly>=15.1 in /usr/local/lib/python3.7/dist-packages (from Twisted>=21.2.0->binance-connector) (15.1.0)

In [20]:
pip install --upgrade mplfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mplfinance in /usr/local/lib/python3.7/dist-packages (0.12.9b5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from mplfinance) (1.3.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from mplfinance) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->mplfinance) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->mplfinance) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->mplfinance) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->mplfinance) (2022.6)

#실행1

In [21]:
import warnings
warnings.filterwarnings(action='ignore')

In [22]:
from binance.spot import Spot 
import datetime
import pandas as pd

client = Spot()
print(client.time())

client = Spot(key='EwMt3ZUUK2RzbfZzdTTrT2W6yAtJJnl8LZfUQBGEzZQJfDd3rmlYwwokmeFNRRXK', secret='I06Ygmvt4hYtefi3OyoCnF0CmrsbPcw12deF0hTU9rNQ4SrVh2t5a2RGD94m7mUS')

{'serverTime': 1668128306477}

In [23]:
# 1시간봉 차트 10000틱
data = client.klines(symbol='BTCUSDT', interval='1h', limit=10000)

# 문자열을 float 타입으로 변환
for i in range(len(data)):
    for j in range(len(data[i])):
        if isinstance(data[i][j], str):
            data[i][j] = float(data[i][j])

In [24]:

# pandas DataFrame 객체 생성
df = pd.DataFrame(data, columns=
             [
                'datetime', 
                'open', 
                'high', 
                'low', 
                'close', 
                'volume', 
                'closeTime', 
                'QuoteAssetVolume', 
                'NumTrades',
                'TakerBuyBaseAssetVolume',
                'TakerBuyQuoteAssetVolume'  ,
                 'Ignore'
                ]
) 
df['datetime'] = pd.to_datetime(df['datetime'], unit='ms')
# df.set_index('datetime', inplace=True)
df

,datetime,open,high,low,close,volume,closeTime,QuoteAssetVolume,NumTrades,TakerBuyBaseAssetVolume,TakerBuyQuoteAssetVolume,Ignore
0,2022-09-30 09:00:00,19623.80,19630.58,19491.11,19527.02,12658.85981,1664531999999,2.474479e+08,157398,6043.68840,1.181438e+08,0.0
1,2022-09-30 10:00:00,19528.02,19562.12,19441.92,19485.77,15975.87996,1664535599999,3.117034e+08,189284,7791.67834,1.520278e+08,0.0
2,2022-09-30 11:00:00,19485.77,19519.00,19400.32,19436.29,14939.73635,1664539199999,2.907816e+08,195365,7174.88437,1.396558e+08,0.0
3,2022-09-30 12:00:00,19435.79,19503.90,19155.36,19297.19,31268.82643,1664542799999,6.042154e+08,493371,15371.43642,2.970541e+08,0.0
4,2022-09-30 13:00:00,19298.59,19484.00,19234.88,19472.09,28423.64835,1664546399999,5.489400e+08,419662,14908.91191,2.879688e+08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-11-10 20:00:00,17456.98,18199.00,17374.81,18108.48,23001.94040,1668113999999,4.074195e+08,474603,11974.20358,2.121888e+08,0.0
996,2022-11-10 21:00:00,18105.16,18166.65,17766.91,17858.67,19586.37136,1668117599999,3.516142e+08,472229,10047.68417,1.803935e+08,0.0
997,2022-11-10 22:00:00,17856.17,17892.74,17677.53,17823.27,9322.50191,1668121199999,1.658317e+08,233566,4769.22470,8.483660e+07,0.0
998,2022-11-10 23:00:00,17825.07,17856.72,17478.00,17601.15,13921.52041,1668124799999,2.451751e+08,290827,6693.30988,1.178699e+08,0.0
999,2022-11-11 00:00:00,17602.45,17660.00,17404.87,17577.43,14152.59687,1668128399999,2.482478e+08,357679,7092.38819,1.244111e+08,0.0

In [25]:


# Timestamp를 Datetime(날짜-시간)형태로 변환
# df['datetime'] = pd.to_datetime(df['datetime'], unit='ms')
# df.set_index('datetime', inplace=True)

# 필요한 차트 데이터만 가져오기
df = df.reset_index()
df['ds'] = df['datetime']
df['y'] = df['close']
data = df[['ds','y']]
data

                     ds         y
0   2022-09-30 09:00:00  19527.02
1   2022-09-30 10:00:00  19485.77
2   2022-09-30 11:00:00  19436.29
3   2022-09-30 12:00:00  19297.19
4   2022-09-30 13:00:00  19472.09
..                  ...       ...
995 2022-11-10 20:00:00  18108.48
996 2022-11-10 21:00:00  17858.67
997 2022-11-10 22:00:00  17823.27
998 2022-11-10 23:00:00  17601.15
999 2022-11-11 00:00:00  17577.43

[1000 rows x 2 columns]

In [26]:
# data.to_csv('test1.csv')

In [27]:
# df = pd.read_csv('test1.csv', names=['ds', 'y'])
# df

In [28]:
# data =data.iloc[1:] #첫번째  low(열)을 지우는 코드
data.dtypes

ds    datetime64[ns]
y            float64
dtype: object

In [29]:
data

                     ds         y
0   2022-09-30 09:00:00  19527.02
1   2022-09-30 10:00:00  19485.77
2   2022-09-30 11:00:00  19436.29
3   2022-09-30 12:00:00  19297.19
4   2022-09-30 13:00:00  19472.09
..                  ...       ...
995 2022-11-10 20:00:00  18108.48
996 2022-11-10 21:00:00  17858.67
997 2022-11-10 22:00:00  17823.27
998 2022-11-10 23:00:00  17601.15
999 2022-11-11 00:00:00  17577.43

[1000 rows x 2 columns]

In [30]:
data['ds'] = pd.DatetimeIndex(data['ds'])
data['y'] = data['y'].astype('float64')

In [31]:
import prophet

In [34]:
m = prophet
m.fit(data)

AttributeError: ignored

In [ ]:
예측날짜 = m.make_future_dataframe(periods=120, freq='H')
예측값 = m.predict(예측날짜)
예측값.tail()

In [ ]:
plot1 = m.plot(예측값)

In [ ]:
m = prophet(
    interval_width = 0.95,
    seasonality_mode= 'multiplicative',
    yearly_seasonality= True,
    changepoint_prior_scale=0.3
)



m.fit(data)

In [ ]:
예측날짜 = m.make_future_dataframe(periods=120, freq='H')
예측값 = m.predict(예측날짜)
예측값

In [ ]:
plot1 = m.plot(예측값)

# 코딩 받아온 출처
 
 *https://www.youtube.com/watch?v=NgIVYrZW2lg
 *https://velog.io/@lazydok/1.-%EB%B0%94%EC%9D%B4%EB%82%B8%EC%8A%A4-%EC%B0%A8%ED%8A%B8-%EB%8D%B0%EC%9D%B4%ED%84%B0-%EA%B0%80%EC%A0%B8%EC%98%A4%EA%B8%B0

 ## 중간에 막히는거 도움 받은 곳
 *https://www.youtube.com/watch?v=Teju_e9TI3s